.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 400%;
  transform: translateY(300%);
  color: white;
  position: relative;
  z-index: 2;
}

div {
  margin-top: 0%;
  background-size: 100%;
  background-image: url("beach.jpg");
  z-index: 1;
}

button {
  background-color: #c69f9f;
  color: white;
  text-shadow: 3px;
  transform: translateY(640%);
  size: 350px;
  font-size: 130%;
  margin-left: 1%;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

input[type=text] {
  width: 20%;
  box-sizing: border-box;
  border: 2px solid #c69f9f;
  border-radius: 4px;
  transform: translateY(550%);
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

table {
    display: none;
    border-collapse: collapse;
    transform: translateY(120%);
    width: 60%;
    margin-left: 20%;
    color:  #c69f9f;
    font-family: 'Poppins', sans-serif;
    font-size: 110%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #ECE1CF}

th {
    background-color: #c69f9f;
    color: white;
}

search {
  margin-left: 29%;
}

//div {
//  background-size: 100%;
//  background-image: url("beach.jpg");
//}
